In [1]:
import pandas as pd
import datetime as dt

In [16]:
def filter_dunder(any_obj):
    temp_list = dir(any_obj)
    date_obj_meth_attr = []
    for i in temp_list:
        if i[0:2] != '__':
            date_obj_meth_attr.append(i)
    date_obj_meth_attr = {'meth_attr':date_obj_meth_attr}
    return pd.DataFrame(date_obj_meth_attr)

In [7]:
time_stamp = pd.Timestamp(dt.datetime(2021,12,25))

In [22]:
filter_dunder(time_stamp)

      meth_attr
0    _date_repr
1    _repr_base
2        _round
3   _short_repr
4    _time_repr
..          ...
75        value
76         week
77      weekday
78   weekofyear
79         year

[80 rows x 1 columns]

In [15]:
print(time_stamp.year)
print(time_stamp.month)
print(time_stamp.day)
print(time_stamp.day_name())

2021
12
25
Saturday

In [36]:
period = pd.Period('2021-8'); period

Period('2021-08', 'M')

In [37]:
period_2 = pd.Period('2021-8-28', 'D'); period_2

Period('2021-08-28', 'D')