In [194]:
import datetime as dt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import dateutil as du

## Create A Date Object

In [2]:
christmax_2021 = dt.date(2021, 12, 25)

In [7]:
print(christmax_2021)
type(christmax_2021)

2021-12-25

datetime.date

In [47]:
dir(christmax_2021)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'ctime',
 'day',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'min',
 'month',
 'replace',
 'resolution',
 'strftime',
 'timetuple',
 'today',
 'toordinal',
 'weekday',
 'year']

In [16]:
print(christmax_2021.year)
print(christmax_2021.month)
print(christmax_2021.day)

2021
12
25

In [21]:
christmax_2021.weekday()

5

In [27]:
christmax_2021.isocalendar()

(2021, 51, 6)

## Subtracting Days

In [40]:
inde_day_2021 = dt.date(2021, 11, 11) # Polish Independence day

In [49]:
date_delta = christmax_2021 - inde_day_2021
print(date_delta)
type(date_delta)

44 days, 0:00:00

datetime.timedelta

Note the result is an objection of ```timedelta```, it can be created by us or created by any dates subtraction.

In [50]:
dir(date_delta)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'days',
 'max',
 'microseconds',
 'min',
 'resolution',
 'seconds',
 'total_seconds']

In [57]:
date_delta.total_seconds()

3801600.0

In [61]:
date_delta.days

44

## Datetime Object At Seconds Level

```datatime``` can give us detailed time stamp at second.

In [90]:
christmas_2021_midnight = dt.datetime(2021, 12, 25, 23, 59, 59)
christmas_2021_midnight.isoformat()

'2021-12-25T23:59:59'

In [91]:
dir(christmas_2021_midnight)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [98]:
christmas_eve_2022_noon = christmas_2021_midnight.replace(year=2022, month=12, day=24, hour=11, minute=59, second=59)
print(christmas_eve_2022_noon)

2022-12-24 11:59:59

In [99]:
print(christmas_2021_midnight.year)
print(christmas_2021_midnight.month)
print(christmas_2021_midnight.day)
print(christmas_2021_midnight.hour)
print(christmas_2021_midnight.minute)
print(christmas_2021_midnight.second)

2021
12
25
23
59
59

## Formats

ISO format

In [63]:
christmax_2021.isoformat()

'2021-12-25'

Check <a href='https://docs.python.org/3/library/datetime.html'>here</a> use the proper format codes.

In [72]:
christmax_2021.strftime('%d-%m-%Y')

'25-12-2021'

In [71]:
christmax_2021.strftime('%d-%B-%Y')

'25-December-2021'

Use whatever separator you prefer.

In [79]:
christmax_2021.strftime('%Y  ~*~+#  %m  ~*~#&*  %d')

'2021  ~*~+#  12  ~*~#&*  25'

In [81]:
christmax_2021.strftime('%Y, the number of day %j')

'2021, the number of day 359'

## Load Data

In [30]:
df_bike = pd.read_csv('metro-bike-share-trip-data.csv')

In [31]:
df_bike.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts
0,18222186,15060,2017-01-19T17:05:00.000,2017-01-19T21:16:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9518671,77160,2016-10-09T14:37:00.000,2016-10-10T12:03:00.000,NaN,NaN,NaN,3000.0,NaN,NaN,...,One Way,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20444932,86400,2017-02-18T10:15:00.000,2017-02-20T15:20:00.000,3026.0,34.063179,-118.245880,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20905031,18840,2017-02-27T12:26:00.000,2017-02-27T17:40:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21031476,86400,2017-02-27T20:26:00.000,2017-03-01T09:49:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,One Way,Flex Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We check what data type is in _Start Time_ and _End Time_.

In [102]:
type(df_bike['Start Time'][0])

str

## Parsing String As Datetime Object

Those two columns are strings rather than datetime objects, we got to parse them.

In [107]:
fmt = '%Y-%m-%dT%H:%M:%S.%f'
s = df_bike['Start Time'][0]

In [108]:
d = dt.datetime.strptime(s, fmt)

In [109]:
d

datetime.datetime(2017, 1, 19, 17, 5)

In [118]:
df_bike['StartTime_Parsed'] = df_bike['Start Time'].apply(lambda x: dt.datetime.strptime(x, fmt))
df_bike['EndTime_Parsed'] = df_bike['End Time'].apply(lambda x: dt.datetime.strptime(x, fmt))

In [119]:
df_bike.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts,StartTime_Parsed,EndTime_Parsed
0,18222186,15060,2017-01-19T17:05:00.000,2017-01-19T21:16:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-19 17:05:00,2017-01-19 21:16:00
1,9518671,77160,2016-10-09T14:37:00.000,2016-10-10T12:03:00.000,NaN,NaN,NaN,3000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-09 14:37:00,2016-10-10 12:03:00
2,20444932,86400,2017-02-18T10:15:00.000,2017-02-20T15:20:00.000,3026.0,34.063179,-118.245880,3000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-18 10:15:00,2017-02-20 15:20:00
3,20905031,18840,2017-02-27T12:26:00.000,2017-02-27T17:40:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-27 12:26:00,2017-02-27 17:40:00
4,21031476,86400,2017-02-27T20:26:00.000,2017-03-01T09:49:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-27 20:26:00,2017-03-01 09:49:00

Duration can be conveniently computed now.

In [121]:
df_bike['duration'] = df_bike['EndTime_Parsed'] - df_bike['StartTime_Parsed']
df_bike.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts,StartTime_Parsed,EndTime_Parsed,duration
0,18222186,15060,2017-01-19T17:05:00.000,2017-01-19T21:16:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-19 17:05:00,2017-01-19 21:16:00,0 days 04:11:00
1,9518671,77160,2016-10-09T14:37:00.000,2016-10-10T12:03:00.000,NaN,NaN,NaN,3000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-09 14:37:00,2016-10-10 12:03:00,0 days 21:26:00
2,20444932,86400,2017-02-18T10:15:00.000,2017-02-20T15:20:00.000,3026.0,34.063179,-118.245880,3000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-18 10:15:00,2017-02-20 15:20:00,2 days 05:05:00
3,20905031,18840,2017-02-27T12:26:00.000,2017-02-27T17:40:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-27 12:26:00,2017-02-27 17:40:00,0 days 05:14:00
4,21031476,86400,2017-02-27T20:26:00.000,2017-03-01T09:49:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-27 20:26:00,2017-03-01 09:49:00,1 days 13:23:00

In [147]:
print('Mininum duration: '+ str(min(df_bike['duration'])))
print('Maximum duration: '+str(max(df_bike['duration'])))

Mininum duration: 0 days 00:01:00
Maximum duration: 5 days 16:28:00

## Unix Timestamp

The Unix timestamp is just the number of seconds elapsed since January 1st, 1970 at UTC.

In [138]:
timestamps = [0, 1, 2, 3000000, 100000000, 1600000000, 2073658356]

for ts in timestamps:
    print(dt.datetime.fromtimestamp(ts))

1970-01-01 01:00:00
1970-01-01 01:00:01
1970-01-01 01:00:02
1970-02-04 18:20:00
1973-03-03 10:46:40
2020-09-13 13:26:40
2035-09-17 17:12:36

## Time Zone And UTC Offset

In [168]:
national_day_event_UK_2022 = dt.datetime(2022, 4, 23, 11, 14, 15, tzinfo=dt.timezone.utc)

In [169]:
national_day_event_UK_2022.isoformat()

'2022-04-23T11:14:15+00:00'

Creat a timezone for Eastern European Time, UTC+2, which is the winter time in Helsinki/Tallinn.

In [171]:
eet = dt.timezone(dt.timedelta(hours=2))

In [187]:
national_day_event_UK_2022 = dt.datetime(2022, 4, 23, 18, 14, 15, tzinfo=eet)
national_day_event_UK_2022.isoformat()

'2022-04-23T18:14:15+02:00'

If you think the time zone was a mistake, then ```replace``` it with a new one. Here I just print it out, rather than assign to a new datetime object.

In [193]:
beijing_time = dt.timezone(dt.timedelta(hours=8))
print(national_day_event_UK_2022.replace(tzinfo=beijing_time))

2022-04-23 18:14:15+08:00

Display local time in new time zone.

In [189]:
national_day_event_UK_2022.astimezone(dt.timezone.utc).isoformat()

'2022-04-23T16:14:15+00:00'

## IANA Timezone

If you know location, e.g. city name, you can call <a href='https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'>IANA timezone</a> time directly, such as ```Europe/Paris``` or ```Asia/Chungking```.

We will use ```dateutil``` library, which has been imported at the top of this file.

In [198]:
ck_time = du.tz.gettz('Asia/Chungking')

In [200]:
national_day_event_UK_2022.astimezone(ck_time).isoformat()

'2022-04-24T00:14:15+08:00'

In [202]:
ny_time = du.tz.gettz('America/New_York')
national_day_event_UK_2022.astimezone(ny_time).isoformat()

'2022-04-23T12:14:15-04:00'

## Winter Time Change

This is common practice in European Union. For instance, Poland changes to winter time at 3:00AM, 31th Oct 2021. We will take a look at time offset before and after the change.

In [231]:
before = dt.datetime(2021, 10, 31, 1, 0, 0, tzinfo=du.tz.gettz('Europe/Warsaw'))
after = before + dt.timedelta(hours=6)
print(before.isoformat() + " to " + after.isoformat())

2021-10-31T01:00:00+02:00 to 2021-10-31T07:00:00+01:00

As you can see the UTC offset changed from ```+02:00``` to ```+01:00```, however the time change doesn't seem to reflect in the hours addition? Elapsing $6$ hours from ```T01:00:00``` should be at ```T06:00:00``` due to one hour shift backward.

We can verify how many hours Python assumes elapsed.

In [230]:
(after - before).seconds/(60**2)

6.0

If we use UTC as a reference time zone.

In [234]:
utc_delta = after.astimezone(dt.timezone.utc) - before.astimezone(dt.timezone.utc) 
utc_delta.seconds/(60**2)

7.0

In [235]:
after.astimezone(dt.timezone.utc)

datetime.datetime(2021, 10, 31, 6, 0, tzinfo=datetime.timezone.utc)

In [236]:
before.astimezone(dt.timezone.utc)

datetime.datetime(2021, 10, 30, 23, 0, tzinfo=datetime.timezone.utc)

In [241]:
end_Oct = dt.datetime(2000, 10, 31, 1, 0, 0, tzinfo=du.tz.gettz('Europe/Warsaw'))
for y in range(2000, 2050):
    print(end_Oct.replace(year=y).isoformat())

2000-10-31T01:00:00+01:00
2001-10-31T01:00:00+01:00
2002-10-31T01:00:00+01:00
2003-10-31T01:00:00+01:00
2004-10-31T01:00:00+02:00
2005-10-31T01:00:00+01:00
2006-10-31T01:00:00+01:00
2007-10-31T01:00:00+01:00
2008-10-31T01:00:00+01:00
2009-10-31T01:00:00+01:00
2010-10-31T01:00:00+02:00
2011-10-31T01:00:00+01:00
2012-10-31T01:00:00+01:00
2013-10-31T01:00:00+01:00
2014-10-31T01:00:00+01:00
2015-10-31T01:00:00+01:00
2016-10-31T01:00:00+01:00
2017-10-31T01:00:00+01:00
2018-10-31T01:00:00+01:00
2019-10-31T01:00:00+01:00
2020-10-31T01:00:00+01:00
2021-10-31T01:00:00+02:00
2022-10-31T01:00:00+01:00
2023-10-31T01:00:00+01:00
2024-10-31T01:00:00+01:00
2025-10-31T01:00:00+01:00
2026-10-31T01:00:00+01:00
2027-10-31T01:00:00+02:00
2028-10-31T01:00:00+01:00
2029-10-31T01:00:00+01:00
2030-10-31T01:00:00+01:00
2031-10-31T01:00:00+01:00
2032-10-31T01:00:00+02:00
2033-10-31T01:00:00+01:00
2034-10-31T01:00:00+01:00
2035-10-31T01:00:00+01:00
2036-10-31T01:00:00+01:00
2037-10-31T01:00:00+01:00
2038-10-31T01:00:00+01:00
2039-10-31T01:00:00+01:00
2040-10-31T01:00:00+01:00
2041-10-31T01:00:00+01:00
2042-10-31T01:00:00+01:00
2043-10-31T01:00:00+01:00
2044-10-31T01:00:00+01:00
2045-10-31T01:00:00+01:00
2046-10-31T01:00:00+01:00
2047-10-31T01:00:00+01:00
2048-10-31T01:00:00+01:00
2049-10-31T01:00:00+01:00